{% extends 'base.html'%}

{% block title%}
Книги
{% endblock%}

{% block content%}
    <div class="container mt-4">
        <h1 class="mb-4">Книги Дж. Р. Р. Толкина</h1>
    </div>

  <div class="card-group">
      <div class="card">
        <img src="../static/image/hobbit.jpg" class="card-img-top" alt="Обложка «Хоббит»">
        <div class="card-body">
          <h5 class="card-title">«Хоббит»</h5>
          <p class="card-text">Роман, опубликованный в 1937 году, рассказывает о путешествии хоббита Бильбо Бэггинса.</p>

        </div>
      </div>
      <div class="card">
        <img src="../static/image/lord_of_the_ring.jpg" class="card-img-top" alt="Обложка «Властелин колец»">
        <div class="card-body">
          <h5 class="card-title">«Властелин колец»</h5>
          <p class="card-text">Эпический фэнтезийный роман, опубликованный в 1954-1955 годах, повествует о квесте по уничтожению Единого Кольца.</p>

        </div>
      </div>
      <div class="card">
        <img src="../static/image/silmarillion.jpg" class="card-img-top" alt="Обложка «Сильмариллион»">
        <div class="card-body">
          <h5 class="card-title">«Сильмариллион»</h5>
          <p class="card-text">Сборник историй и легенд о Средиземье, опубликованный посмертно в 1977 году.</p>

        </div>
      </div>
  </div>
{% endblock %}



