{% extends 'base.html'%}

{% block title%}
Главная
{% endblock%}

{% block content%}
    <div class="container mt-4">
        <h1 class="mb-4">Дж. Р. Р. Толкин</h1>

        <div class="row">
            <div class="col-md-4">
                <img src="../static/image/tolkin.jpg" alt="Дж. Р. Р. Толкин" class="img-fluid rounded">
            </div>
            <div class="col-md-8">
                <p>Джон Рональд Руэл Толкин — британский филолог, лингвист и писатель, наиболее известный как автор романов «Хоббит» и «Властелин колец». Родился 3 января 1892 года в Блумфонтейне, Южная Африка.</p>
                <p>Толкин был профессором английского языка в Оксфордском университете и известен своими работами по средневековой литературе и мифологии.</p>
            </div>
        </div>

        <h2 class="mt-4">Основные произведения:</h2>
        <ul>
            <li>«Хоббит» (1937)</li>
            <li>«Властелин колец» (1954-1955)</li>
            <li>«Сильмариллион» (1977, опубликован посмертно)</li>
            <li>«Неоконченные сказания Нуменора и Средиземья» (1980, опубликован посмертно)</li>
        </ul>
    </div>

{% endblock %}